In [1]:
#Continuation with lists:

In [ ]:
for loop implimenation:

In [4]:
# General syntax of a for loop iplimentation

In [ ]:
for tempvar in mainvar:
    print(tempvar)

In [5]:
#req:using a range function how to print the series of numbers:

In [6]:
#i want to print the number from 1 to 20

#Note:last value is always exclusive

In [7]:
for value in range(1,20):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [10]:
#using range to make a list of numbers

In [11]:
#req:i want to get a list of numbers from 1-10

In [12]:
numbers=list(range(1,10))

In [13]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#req:i want to print numbers till 30,but i want to print only even numbers till 30.

In [ ]:
#General syntax of a range function 

range(startvalue,stopvalue,stepcount)

In [20]:
even_numbers=list(range(2,30,2))  #2+2=4+2=====

In [21]:
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [22]:
#req:i want to get odd numbers till 50?

In [23]:
odd_numbers=list(range(1,50,2))

In [24]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [25]:
#simple statistics with a list of numbers

In [26]:
digits=[1,2,3,4,5,6,7,8,9,0]

In [ ]:
#req:i want to have a minimum value from the above list...?

In [28]:
min(digits)

0

In [29]:
#req:i want to have a maximum value from the above list...?

In [30]:
max(digits)

9

In [31]:
#req:i want to get the total sum of elementsin the lists

In [32]:
sum(digits)

45

In [33]:
#Introduction to conditional statement is python:

In [ ]:
if else condition we will bw using

In [34]:
cars=['audi','bmw','toyota','volvo']

In [ ]:
#req1:to print the list of by using the for loop


#req2:i want to print how in uppercase & remaining all other cars in title case...

In [40]:
for x in cars:
    if x=='bmw':
        print(x.upper())
    else:
        print(x.title())

Audi
BMW
Toyota
Volvo