# Continuation with Pandas:

In [1]:
import numpy as np 
import pandas as pd

## Introduction to DataFrames in Pandas:

### Datatypes in Pandas:

####            1.Series

#### 2.DataFrames

##### A DataFrame is a two-dimensional data structure....data is alinged in the tabular fashion in rows and columns.

In [ ]:
# This is below genral syntax of pandas DataFrames.

In [ ]:
pandas.DataFrame(data,index, column,dtype)

### Creating the DataFrame:

##### A Pandas DataFrames can be crated by using the various inputs like below:

#### 1.list

#### 2.dict

#### 3.Series

#### 4.Numpy array

#### 5.another DF

##### How to create an empty dataframe

In [2]:
df = pd.DataFrame()

In [3]:
print(df)

Empty DataFrame
Columns: []
Index: []

##### Creating a dataframe with a list:

In [4]:
data = [1,2,3,4,5]

In [5]:
df = pd.DataFrame(data)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
1
2
3                 # is the actual data
4
5

In [ ]:
0
1
2                # is the Index
3
4

In [ ]:
0                # is the column data

In [6]:
data = [['gagan',9],['subhajit',8],['sumaiya',9],['afzal',6],['rishika',7]]

In [8]:
df = pd.DataFrame(data)

print(df)

          0  1
0     gagan  9
1  subhajit  8
2   sumaiya  9
3     afzal  6
4   rishika  7

In [10]:
df = pd.DataFrame(data, columns=['Name','Marks'])

print(df)

       Name  Marks
0     gagan      9
1  subhajit      8
2   sumaiya      9
3     afzal      6
4   rishika      7

In [12]:
df = pd.DataFrame(data, index=['Rank1','Rank2','Rank3','Rank4','Rank5'], columns=['Name','Marks'])

print(df)

           Name  Marks
Rank1     gagan      9
Rank2  subhajit      8
Rank3   sumaiya      9
Rank4     afzal      6
Rank5   rishika      7